<p style="color: green"><%= notice %></p>

<h1>Add ons</h1>

<div id="add_ons">
  <% @add_ons.each do |add_on| %>
    <%= render add_on %>
    <p>
      <%= link_to "Show this add on", add_on %>
    </p>
  <% end %>
</div>

<%= link_to "New add on", new_add_on_path %>
