
    <h1>Welcome to HelloFresh Meal Management System</h1>
    <p>Explore some of our delicious meals and add-ons:</p>

    <ul>
        <li><%= link_to "Meals", meals_path %></li>
        <li><%= link_to "Add-Ons", add_ons_path %></li>
    </ul>

<div style="position: absolute; bottom: 0;">
    <h3>Links to Index Pages</h3>
    <ul>
        <li><%= link_to "Meals Index", meals_path %></li>
        <li><%= link_to "Add-Ons Index", add_ons_path %></li>
    </ul>
</div>