<h1>Welcome to HelloFresh Meal Management System</h1>
<p>Explore some of our delicious meals and add-ons:</p>

<ul>
  <li><%= link_to "Meals", meals_path %></li>
  <li><%= link_to "Add-Ons", add_ons_path %></li>
</ul>
