<ul>
  <% @meals.each do |meal| %>
    <li>
      <%= link_to meal.title, meal_path(meal) %>
      <p></p>
      <p><strong><%= meal.cooking_time %> minute <%= meal.category.humanize %> 
      | Difficulty level: <%= meal.difficulty_level.humanize %></strong></p>
    </li>
  <% end %>
</ul>
