/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* // Custom Bootstrap variables must be defined before importing Bootstrap */

 @import "bootstrap";
//  @import "bootstrap/scss/functions";
//  @import "bootstrap/scss/variables";
// @import "bootstrap";


  /* Global styles */
  body {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    padding: 0;
    background-color: #f5fff3;
    color: #333;
  }
  /* Navigation bar */
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
    color:rgb(69, 137, 74)2
  }

  header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
